*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: inherit;
}

html {
box-sizing: border-box;
font-size: 62.5%;
}

body {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color:black;
    margin: 0;
    
}
header {
    
    position: relative;
    padding:1rem


}


nav a{
    color: black;
    font-size: 20px; 
    text-decoration: none;
    display: inline;
} 

main section {
    margin-top: ;}

}

}

footer {
    background-color:#BF7631
}
#header_image {
    width: 100%;
}
